!!!
%html{:lang => "en"}
  %head

    / Basic Page Needs
    / ––––––––––––––––––––––––––––––––––––––––––––––––––
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "David Newbury", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/images/favicon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet"}/

    %title Pittsburgh New Media Meetup
  %body

    / Primary Page Layout
    / ––––––––––––––––––––––––––––––––––––––––––––––––––
    = yield
    %footer.secondary.footer
      .container
        .row
          .three.columns{:style => "margin-top: 3%"}
          .six.columns{:style => "margin-top: 3%"}
            %p 
              PGH New Media Meetup is organized by 
              = link_to "David Newbury", "http://www.workergnome.com"
              and 
              = link_to "Caroline Record.", "http://carolinerecord.com"
            %p 
              It was founded in early 2015 by 
              = link_to "Anika Hirt,", "http://anikahirt.de"
              = link_to "David Newbury,", "http://www.workergnome.com"
              and 
              = link_to "Dan Wilcox.", "http://danomatika.com"
    
    / Javascript
    / ––––––––––––––––––––––––––––––––––––––––––––––––––
 
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="       crossorigin="anonymous"></script>
    <script src="/app.js"></script>

    / End Document
    / ––––––––––––––––––––––––––––––––––––––––––––––––––
